body{margin-left:1em;max-width:600px;margin:auto}
pre{margin-left:3em;color:#505048;font-size:12pt}
code{font-size:12pt}
h2{color:#076678;font-family:sans-serif}
body{background-color:#f2f2e4;font-size:13pt}
a{color:#458588}
a:hover{color:#076678}
.nowr{white-space:nowrap}
