body{max-width:35em;margin:auto}
pre{border-left:3px solid #076678;background-color:#e8e8da;font-size:12pt;padding:12px}
code{font-size:12pt}
hr{border: 1px solid #c0c0b5;}
h2{color:#076678;font-family:sans-serif}
body{background-color:#f2f2e4;font-size:13pt}
a{color:#458588}
a:hover{color:#076678}
.nowr{white-space:nowrap}
